.constructor {
    width: 600px;
}

.ingredients {
    display: flex;
    padding: 0 8px 0 0;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.ingredients_inners {
    composes: ingredients;
    max-height: 485px;
    overflow-y: scroll;
}

.ingredients_inners::-webkit-scrollbar {
    width: 8px;
}

.ingredients_inners::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredients_inners::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.attention_text {
    color: red;
}

.drawable_element {
    display: flex;
    align-items: center;
    gap: 8px;
}