.payment {
    display: flex;
    justify-content: end;
    align-items: center;
}

.payment_currency {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    padding: 64px 24px 36px 24px;
    color: red;
}